.custom-profile-image-top-section {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

.custom-profile-image-container {
    margin-bottom: 15px;
}

.custom-profile-image-preview {
    max-width: 150px;
    height: auto;
    display: block;
    border-radius: 50%;
}

#custom_profile_image_upload,
#custom_profile_image_remove {
    margin-right: 10px;
}