@font-face {
  font-family: 'Roslindale Variable Display';
  src: url('./fonts/variable-vf-display.ttf'), format('truetype');
}
@font-face {
  font-family: 'Roslindale Variable';
  src: url('./fonts/variable-vf.ttf'), format('truetype');
}

@font-face {
  font-family: 'Roslindale Deck Bold';
  src: url('./fonts/deck-narrow-bold.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Deck Medium';
  src: url('./fonts/deck-narrow-medium.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Deck Regular';
  src: url('./fonts/deck-narrow-regular.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Deck Semibold';
  src: url('./fonts/deck-narrow-semibold.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Black';
  src: url('./fonts/display-black.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Bold';
  src: url('./fonts/display-bold.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Semibold';
  src: url('./fonts/display-semi-bold.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Medium';
  src: url('./fonts/display-medium.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Regular';
  src: url('./fonts/display-regular.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Light';
  src: url('./fonts/display-light.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Thin';
  src: url('./fonts/display-extra-light.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Ultra';
  src: url('./fonts/display-ultra.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Condensed Black';
  src: url('./fonts/display-condensed-black.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Condensed Bold';
  src: url('./fonts/display-condensed-bold.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Condensed Medium';
  src: url('./fonts/display-condensed-medium.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Condensed Regular';
  src: url('./fonts/display-condensed-regular.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Condensed Medium';
  src: url('./fonts/display-condensed-medium.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Condensed Semibold';
  src: url('./fonts/display-condensed-semi-bold.otf'), format('opentype');
}

@font-face {
  font-family: 'Roslindale Display Condensed Light';
  src: url('./fonts/display-condensed-light.otf'), format('opentype');
}


@font-face {
  font-family: 'Satoshi-Variable';
  src: url('./fonts/Satoshi-Variable.woff2') format('woff2'),
    url('./fonts/Satoshi-Variable.woff') format('woff'),
    url('./fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
