<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top: var(--wp--preset--spacing--60)">
  <!-- wp:pattern {"slug":"wp_theme/hidden-blog-heading"} /-->
  <!-- wp:pattern {"slug":"wp_theme/template-query-loop"} /-->
  <h1>Front-Page</h1>
  <h3 class="font-bold text-2xl text-blue-500">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit,
    distinctio! Fugit ut magnam ducimus maxime saepe harum nam, alias quibusdam
    vero accusantium veniam. Magnam consequuntur atque alias ea. Ratione,
    deleniti.
  </h3>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
