<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"wp-theme/hero"} /-->

<!-- wp:heading -->
<h2 class="text-9xl text-green-600">Index page 1234-77</h2>
<!-- /wp:heading -->

 <!-- wp:paragraph --><p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque harum molestias voluptate placeat, tenetur obcaecati delectus! Ipsum, omnis facilis. Temporibus similique aliquid, quos assumenda quaerat tempore blanditiis natus esse vero.
 </p><!-- /wp:paragraph -->


